body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: #333;
  color: white;
  padding: 1rem;
}
h1 {
  margin: 0;
  text-align: center;
}

header nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

section {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}
#pokemon-partner {
  display: flex;  
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 150px;
  height: auto;
}
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}
.userWelcome {
  text-align: center;
  font-size: 1.2em;
  color: #156ece;
}
.team-member {
max-width: 200px;
height: auto;
display: block;
margin: 0 auto;
}

#third-party {
  margin-top: 20px;
  text-align: center;

}
#realtime {
  margin-top: 20px;
  text-align: center;
}
.status {
  color: green;
  font-weight: bold;
}
.status2 {
  color: red;
  font-weight: bold;
}
button {
  background-color: #156ece;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
